<% content_for :features, "template" %>
<div class="main">
    <div class="container">
        <!--
            <br>
            <button type="button" class="btn btn-info">This is a button</button>
        -->
    </div>
</div>
