.panel-group{


    .panel-title a:hover, .panel-title a:focus{
        text-decoration: none;
    }
    .gsdk-collapse{
        display: block;
        height: 0px;
        visibility: visible;
        overflow: hidden;
        transition: all 400ms;
    }
}
.card-collapse{
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid $medium-gray;

    a{
        text-decoration: none;
        color: inherit;

        &:hover,
        &:focus{
            color: $default-states-color;
        }
    }
    h5{
        margin: 0;
        line-height: 1.875rem;
    }
    .card-header{
        border: 0;
        background-color: $white-color;
    }
    .card-block{
        box-shadow: inset 0 7px 10px -7px rgba(0,0,0,0.14);
        border-top: 1px solid $medium-gray;
    }

    & + .card-collapse{
        margin-top: 0.125rem;
        margin-bottom: 0.125rem;
    }
}
