.panel-group{


    .panel-title a:hover, .panel-title a:focus{
        text-decoration: none;
    }

}
.card{
    font-size: $font-size-base;
}
.card-collapse{
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid $medium-gray;

    a{
        text-decoration: none;
        color: inherit;
        display: flex;
        padding: .75rem $padding-base;

        &:hover,
        &:focus{
            color: $default-states-color;
        }
    }
    h5{
        margin: 0;
        line-height: 1.875rem;
    }
    .card-header{
        border: 0;
        padding: 0;
        background-color: $white-color;
    }
    .card-block{
        box-shadow: inset 0 7px 10px -7px rgba(0,0,0,0.14);
        border-top: 1px solid $medium-gray;
        padding: $padding-base;
    }

    & + .card-collapse{
        margin-top: 0.125rem;
        margin-bottom: 0.125rem;
    }

    .collapse-preview{
        position: relative;
        height: 0;
        overflow: hidden;
        -webkit-transition: height .35s ease;
        -o-transition: height .35s ease;
        transition: height .35s ease;
    }

}
