.nav {
    > li{
        > a:hover,
        > a:focus{
            background-color: transparent;
        }
    }
}
.navbar{
    border: $none;
    font-size: $font-size-base;
    box-shadow: 0 12px 20px -12px rgba(0,0,0,0.22);

    transition: all 0.4s;
    -webkit-transition: all 0.4s;

    .navbar-brand {
        font-weight: $font-weight-bold;
        padding: $navbar-padding-brand;
        font-size: $font-size-large-navbar;
    }

    .navbar-brand-logo{
        padding: 10px 0;

        .logo{
           overflow: hidden;
           border-radius: 50%;
           border: 1px solid #333333;
           height: 50px;
           width: 50px;
           float: left;
       }
       .logo-container{
           display: flex;;
       }
       .logo img{
           width: 100%;
       }
       .brand{
           font-size: 18px;
            color: #FFFFFF;
            float: left;
            line-height: 50px;
            margin-left: 10px;
       }
    }

    .navbar-nav{
        .nav-link {
             padding: $padding-base-vertical + 2 13px;
             margin: $navbar-margin-a;
             line-height: $line-height;
         }
         .nav-link.btn{
             padding: $padding-base-vertical $padding-base-horizontal;
         }
         .nav-link.btn-round{
             margin: $margin-base-vertical 0;
             padding: ($padding-base-vertical + 1) $padding-base-horizontal;
         }
         > li > a [class^="fa"]{
             font-size: $font-size-large + 1;
             position: relative;
             top: 1px;
        }
    }
    .btn{
       margin: $margin-base-vertical 0;
       font-size: $font-size-base;
    }
    .btn-simple{
        font-size: $font-size-medium;
    }
    .caret{
       // @include center-item();
    }


}

.navbar-nav > li > .dropdown-menu{
    border-radius: $border-radius-extreme;
    margin-top: -5px;
}

.navbar-transparent,
.navbar-primary,
.navbar-info,
.navbar-success,
.navbar-warning,
.navbar-danger{
    .navbar-brand{
        color: $white-color;
        @include opacity(.9);

        &:focus,
        &:hover{
            background-color: transparent;
            color: $white-color;
            @include opacity(1);
        }
    }

    .navbar-nav{
        .nav-link{
            color: $white-color;
            @include opacity(0.8);
        }

        > li > a.btn-default:hover,
        > li > a.btn-default:focus{
            border-color: $white-color;
            @include opacity(1);
        }

        .active .nav-link,
        .nav-link:hover,
        .nav-link:focus{
            background-color: transparent;
            color: $white-color;
            @include opacity(1);
        }

        > .dropdown > a .caret,
        > .dropdown > a:hover .caret,
        > .dropdown > a:focus .caret{
            border-bottom-color: $white-color;
            border-top-color: $white-color;
        }

        > .open > a,
        > .open > a:hover,
        > .open > a:focus {
            background-color: transparent;
            color: $white-color;
            @include opacity(1);
        }
    }

    .btn-default{
        color: $white-color;
        border-color: $white-color;
    }
    .btn-default.btn-fill{
        color: $dark-gray;
        background-color: $white-color;
        @include opacity(.9);
    }
    .btn-default.btn-fill:hover,
    .btn-default.btn-fill:focus,
    .btn-default.btn-fill:active,
    .btn-default.btn-fill.active,
    .open .dropdown-toggle.btn-fill.btn-default{
        border-color: $white-color;
        @include opacity(1);
    }

    .navbar-toggle .icon-bar{
        background-color: $white-color !important;
    }
}

.navbar-toggle:hover,
.navbar-toggle:focus {
    background-color: transparent;
}

/*
.navbar-transparent{
    .dropdown-menu .divider{
        background-color: rgba($white-color,.2);
    }
}
*/

.navbar-inverse{
    .navbar-toggle:hover,
    .navbar-toggle:focus {
        background-color: transparent;
    }
    .navbar-nav > .open > a{
        &,
        &:focus,
        &:hover{
            background-color: transparent;
        }
    }
}

.nav-open .nav .caret{
    border-bottom-color: $white-color;
    border-top-color: $white-color;
}

.navbar-default {
    background-color: $white-navbar;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .navbar-nav{
        > .active > a,
        > .active > a:not(.btn):hover,
        > .active > a:not(.btn):focus,
        > li > a:not(.btn):hover,
        > li > a:not(.btn):focus {
            background-color: transparent;
            border-radius: 3px;
            color: $info-color;
            @include opacity(1);
        }

        > .dropdown > a:hover .caret,
        > .dropdown > a:focus .caret {
            border-bottom-color: $info-color;
            border-top-color: $info-color;

        }

        > .open > a,
        > .open > a:hover,
        > .open > a:focus{
            background-color: transparent;
            color: $info-color;
        }

        .navbar-toggle:hover,.navbar-toggle:focus {
            background-color: transparent;
        }

    }

    &:not(.navbar-transparent) .btn-default:hover{
        color: $info-color;
        border-color: $info-color;
    }
    &:not(.navbar-transparent) .btn-neutral,
    &:not(.navbar-transparent) .btn-neutral:hover,
    &:not(.navbar-transparent) .btn-neutral:active{
            color: $dark-gray;
        }

    .navbar-toggle:hover,
    .navbar-toggle:focus {
        background-color: transparent;
    }
}

.navbar-form{
   @include box-shadow(none);
   .form-control{
        @include light-form();
        height: 22px;
        font-size: $font-size-navbar;
        line-height: $line-height-general;
        color: $light-gray;
    }
    .navbar-transparent & .form-control,
    [class*="navbar-ct"] & .form-control{
        color: $white-color;
        border: $none;
        border-bottom: 1px solid rgba($white-color,.6);
    }

}

.navbar-primary{
    @include navbar-color($primary-navbar);
}
.navbar-info{
    @include navbar-color($info-navbar);
}
.navbar-success{
    @include navbar-color($success-navbar);
}
.navbar-warning{
    @include navbar-color($warning-navbar);
}
.navbar-danger{
    @include navbar-color($danger-navbar);
}

.navbar-transparent{
    padding-top: 15px;
    box-shadow: none;
    background-color: transparent;
}

.navbar-toggle{
    margin-top: 19px;
    margin-bottom: 19px;
    border: $none;

    .icon-bar {
        background-color: $white-color;
    }
     .navbar-collapse,
     .navbar-form {
        border-color: transparent;
    }
}
