/*            Navigation menu                */
.nav-pills {
    .nav-item + .nav-item {
        margin-left: 0;
    }
    .nav-item{
        &:first-child .nav-link{
            border-radius: $border-radius-base 0 0 $border-radius-base;
        }
        &:last-child .nav-link{
            border-radius: 0 $border-radius-base $border-radius-base 0;
        }
    }
    .nav-link{
        border: 1px solid $info-color;
        border-radius: 0;
        color: $info-color;
        margin-left: -1px;

        &:hover,
        &:focus{
            background-color: #F5F5F5;
        }

        &.active{
            &,
            &:hover,
            &:focus{
                background-color: $info-color;
                color: #FFFFFF !important;
            }
        }
        &.disabled{
            opacity: $disabled-opacity;
            &:hover,
            &:focus{
                background-color: transparent;
            }
        }
    }
}

// style for pagination
.page-link{
    border-radius: $border-radius-extreme * 2;
    margin: 0 2px;
    color: $default-states-color;
    font-size: $font-size-base;

    &:hover,
    &:focus{
        color: $default-states-color;
    }
    .page-item.active &{
        background-color: $primary-color;
        color: $white-color;
        border: 0;
        padding: .5625rem .8125rem;
    }

    .page-item:last-child &,
    .page-item:first-child &{
        border-radius: $border-radius-extreme * 2;
    }

    .pagination-info .page-item.active &{
        background: $info-color;
    }
}

.pagination.pagination-no-border > li > a,
.pagination.pagination-no-border > li > span{
    border: 0;
}

.nav-pills.ct-blue > li.active > a,
.nav-pills.ct-blue > li.active > a:hover,
.nav-pills.ct-blue > li.active > a:focus,
.pagination.ct-blue > li.active > a,
.pagination.ct-blue > li.active > span,
.pagination.ct-blue > li.active > a:hover,
.pagination.ct-blue > li.active > span:hover,
.pagination.ct-blue > li.active > a:focus,
.pagination.ct-blue > li.active > span:focus{
   background-color: $primary-color;
}

.nav-pills.ct-azzure > li.active > a,
.nav-pills.ct-azzure > li.active > a:hover,
.nav-pills.ct-azzure > li.active > a:focus,
.pagination.ct-azzure > li.active > a,
.pagination.ct-azzure > li.active > span,
.pagination.ct-azzure > li.active > a:hover,
.pagination.ct-azzure > li.active > span:hover,
.pagination.ct-azzure > li.active > a:focus,
.pagination.ct-azzure > li.active > span:focus{
   background-color: $info-color;
}

.nav-pills.ct-green >  li.active > a,
.nav-pills.ct-green >  li.active > a:hover,
.nav-pills.ct-green >  li.active > a:focus,
.pagination.ct-green > li.active > a,
.pagination.ct-green > li.active > span,
.pagination.ct-green > li.active > a:hover,
.pagination.ct-green > li.active > span:hover,
.pagination.ct-green > li.active > a:focus,
.pagination.ct-green > li.active > span:focus{
   background-color: $success-color;
}

.nav-pills.ct-orange > li.active > a,
.nav-pills.ct-orange > li.active > a:hover,
.nav-pills.ct-orange > li.active > a:focus,
.pagination.ct-orange > li.active > a,
.pagination.ct-orange > li.active > span,
.pagination.ct-orange > li.active > a:hover,
.pagination.ct-orange > li.active > span:hover,
.pagination.ct-orange > li.active > a:focus,
.pagination.ct-orange > li.active > span:focus{
   background-color: $warning-color;
}

.nav-pills.ct-red > li.active > a,
.nav-pills.ct-red > li.active > a:hover,
.nav-pills.ct-red > li.active > a:focus,
.pagination.ct-red > li.active > a,
.pagination.ct-red > li.active > span,
.pagination.ct-red > li.active > a:hover,
.pagination.ct-red > li.active > span:hover,
.pagination.ct-red > li.active > a:focus,
.pagination.ct-red > li.active > span:focus{
   background-color: $danger-color;
}
.nav-pills.ct-blue > li > a {
    @include pill-style($primary-color);
}
.nav-pills.ct-azzure > li > a {
    @include pill-style($info-color);
}
.nav-pills.ct-green > li > a {
    @include pill-style($success-color);
}
.nav-pills.ct-orange > li > a {
    @include pill-style($warning-color);
}
.nav-pills.ct-red > li > a {
    @include pill-style($danger-color);
}

.tab-content{
    padding: $padding-base;

    .tab-pane{
        font-size: .875rem;
    }
}
